[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tzc
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tzc
	label-Verified = -1..+1 group user/tzc
	push = group user/tzc
	read = group user/tzc
	rebase = group user/tzc
	removeReviewer = group user/tzc
	submit = group user/tzc
[access "refs/heads/*"]
	create = group user/tzc
	push = +force group user/tzc
	pushMerge = group user/tzc
	read = group user/tzc
[access "refs/tags/*"]
	push = group user/tzc
	push = +force group user/tzc
